name: CI on PR

on:
  workflow_dispatch:
  pull_request:
    branches:
      - main
    types: [opened, synchronize, reopened]

jobs:
  Continous-Intergration:
    runs-on: ubuntu-latest
    env:
      AWS_MAIN_SECRET_NAME: ${{ secrets.AWS_MAIN_SECRET_NAME }}
      AWS_REGION: ${{ secrets.AWS_REGION }}
      DATABASE_URL: postgresql://postgres:postgres@localhost:5432/test_db
      SHADOW_DATABASE_URL: postgresql://postgres:postgres@localhost:5432/test_db_shadow
      REDIS_URL: redis://localhost:6379
      BULLMQ_REDIS_HOST: 127.0.0.1
      BULLMQ_REDIS_PORT: 6379
      CURSOR_SECRET: test_cursor_secret
      NODE_ENV: test
    services:
      postgres:
        image: postgres:15
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
          POSTGRES_DB: test_db
        ports:
          - 5432:5432
        options: >-
          --health-cmd "pg_isready -U postgres"
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
      redis:
        image: redis:7
        ports:
          - 6379:6379
        options: >-
          --health-cmd "redis-cli ping"
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    steps:
      - uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 20
          cache: "npm"

      - name: Install Dependencies and Generate prisma client
        run: |
          npm ci
          npx prisma generate

      - name: Wait for Postgres & Redis
        run: |
          until pg_isready -h localhost -p 5432 -U postgres; do sleep 1; done
          until docker exec $(docker ps -qf "ancestor=redis:7") redis-cli ping; do sleep 1; done

      - name: Apply schema
        run: npx prisma db push --accept-data-loss --config ./prisma/prisma.config.ts

      - name: Run Tests
        run: npm test:coverage

      - name: SonarQube Scan
        uses: SonarSource/sonarqube-scan-action@v6
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
